{% extends 'base.html.twig' %}
    {%- block stylesheets -%}
        {{ parent() }}
        {{ encore_entry_link_tags('login') }}
    {% endblock %}
{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="hero is-fullheight">
        <div class="form-container">
            <div class="logo-wrapper">
                <img src="{{ absolute_url(asset('build/logo.png')) }}">
            </div>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="group">
                    <input type="text" required>
                    <span class="bar"></span>
                    <label> <i class="fas fa-envelope"></i> Email</label>
                </div>
                <div class="group">
                    <input type="text" required>
                    <span class="bar"></span>
                    <label><i class="fas fa-lock"></i> Password</label>
                </div>
                <a>Forgot your password?</a>
                <div class="button-wrapper">
                    <button class="button is-link is-rounded" type="submit">
                        SIGN IN
                    </button>
                    <a class="button is-link is-rounded" type="submit">
                        REGISTER
                    </a>
                </div>
            </form>
        </div>

    </section>
{% endblock %}
