@import 'inputs';
a{
  color: white !important;
}
.button{
  background-color: #0C1740 !important;
  padding: 25px;
  margin: 10px;
  width: 140px;
}
.button-wrapper{
  padding-top: 100px;
  margin: auto;
}
form{
  padding-top: 100px;
}
.form-container {
  text-align: center;
  float: right;
  height: 600px;
  width: 30%;
  margin-left:auto; margin-right:0;
}
.group{
  width: 250px;
  margin: 30px auto 30px auto;
}
.logo-wrapper{
  padding-top: 50px;
  margin: auto;
  width: 70%;
  max-width: 300px;
}
section{
  color:white;
}

@media (min-width: 1920px) {
  .hero {
    background: url(../images/Land-login.jpg) center / cover;
  }
}
@media (max-width: 1920px) {
  .form-container {
    width: 40%;
  }
  .hero {
    background: url(../images/Land-login.jpg) center / cover;
  }
}

@media (max-width: 1520px) {
  .form-container {
    width: 30%;
  }
  .hero {
    background: url(../images/Land-login.jpg) center / cover;
  }
}
@media (max-width: 1024px) {
  .hero {
    background: linear-gradient(#f5d60a 0%, #f1551a 100%);
    filter: drop-shadow(0px 3px 6px rgba(165, 121, 0, 0.16));
  }
  .form-container {
    float: right;
    height: 600px;
    width: 100%;
    margin-left:auto; margin-right:0;
  }
}