<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {%- block stylesheets -%}
    <link rel="icon"
          href="{{ absolute_url(asset('build/favicon.ico')) }}">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
        <link rel="stylesheet" href="{{ absolute_url(asset('build/app.css')) }}"/>
        {{ encore_entry_link_tags('Bulma') }}
        {{ encore_entry_link_tags('app') }}

    {%- endblock -%}
</head>
<body>
{% block body %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_link_tags('app') }}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{#    <script src="{{ asset('main.js') }}"></script>#}
{% endblock %}
</body>
</html>
