{% extends 'base.html.twig' %}
	{% block body %}
		<div class="columns is-mobile is-centered">
			<div class="column is-one-third-desktop is-two-thirds-tablet is-three-quarters-mobile">
				<h4>Sign up to start playing!</h4>
				<div class="field">
					<label class="label">Username</label>
					<div class="control has-icons-left has-icons-right">
						<input class="input is-success" type="text" placeholder="Username">
						<span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
						<span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
					</div>
					<p class="help is-success">This username is available</p>
				</div>

				<div class="field">
					<label class="label">Email</label>
					<div class="control has-icons-left has-icons-right">
						<input class="input is-danger" type="email" placeholder="Email" >
						<span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
						<span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
					</div>
					<p class="help is-danger">This email is invalid</p>
				</div>


				<div class="field">
					<label class="label">Password</label>
					<div class="control has-icons-left has-icons-right">
						<input class="input is-danger" type="password" placeholder="Password">
						<span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
						<span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
					</div>
					<p class="help is-danger">This email is invalid</p>
				</div>


				<div class="field">
					<div class="control">
						<label class="checkbox">
							<input type="checkbox">
							I agree to the <a href="#">terms and conditions</a>
						</label>
					</div>
				</div>

				<div class="field">
					<div class="control">
						<label class="radio">
							<input type="radio" name="question">
							Yes
						</label>
						<label class="radio">
							<input type="radio" name="question">
							No
						</label>
					</div>
				</div>

				<div class="field is-grouped">
					<div class="control">
						<button class="button is-link">Submit</button>
					</div>
					<div class="control">
						<button class="button is-link is-light">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
